apiVersion: v1
kind: Secret
metadata:
  name: k3s-repo-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/wontlost-ltd/k3s.git
  # Option 1: GitHub Personal Access Token
  username: wontlost-ltd
  password: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  # Option 2: GitHub App (uncomment below, comment above)
  # githubAppID: "123456"
  # githubAppInstallationID: "12345678"
  # githubAppPrivateKey: |
  #   -----BEGIN RSA PRIVATE KEY-----
  #   ...
  #   -----END RSA PRIVATE KEY-----
